.navbar-wrapper {
float: right;
}
* {
    box-sizing: border-box;
  }
   
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /*Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    float: right;
  }
#bio-image {
     
    padding-right: 30%;
    background: #f0b501;
     max-width: 100%;
     max-height: auto;
}
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
  #country-image {
    max-width: 100%;
    max-height: auto;


  }
  #hits-image {
    max-width: 100%;
    max-height: auto;
  }
  #top-image {
    max-width: 100%;
    max-height: auto;
  }

  
  
  #hits-image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  #country-image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  #top-image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  body {
    background-color: black;
  }

  .h2 {
    font-family: "Times New Roman", Times, serif;
  }
  
h2 {
    font-size: 35px;
    color:rgb(248, 248, 248)
  }
